.portfolios {
  padding: 40px 0 60px; 
}

.modal button.close {
  right: 0;
  outline: 0;
}

#gallery-lightbox img {
  height: 350px;
  object-fit: cover;
  cursor: pointer;
}

#gallery-lightbox img:hover {
  opacity: 0.9;
  transition: 0.5s ease-out;
}

.mx80 {
  max-width: 90%; 
  margin: auto;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  #gallery-lightbox img {
    height: 100px;
  }
}