<div class="breadgeCumMenu">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#">Shipping-policy</a></li>
            </ol>
        </nav>
    </div>
</div>
<div class="shipping-policy">
    <div class="container">
        <h1 class="shipping-policy-header">SHIPPING POLICY</h1>
        <ul>
            <li>
                <h1>Domestic Shipping Policy</h1>
                <ol>
                    <li>
                        <h2>Shipment processing time</h2>
                        <p>All orders are processed within a maximum of 7-10 Business days and are delivered to you within the time chosen by you.  We accept orders on a weekend and national holidays also but orders received on such days (i.e. on a non-working day) are usually shipped on the next day. For example, if an order is received on Sunday and is prepared within 7 days that is by next Sunday then it will be shipped on Monday. In case we face high demands or in case of any unforeseen contingencies te order gets delayed in shipping, We will inform you timely via WhatsApp or email.</p>
                    </li>
                    <li>
                        <h2>Shipping rates and delivery estimates</h2>
                        <p>We provide various shipping methods depending upon the convenience of our customers.</p>
                        <p><b>Shipment method :- </b> FedEx Standard, Delhivery Surface, Ecom Express, Xpressbees</p>
                        <p>The shipping cost and estimated delivery dates vary for every order. The total cost of a product including shipping depends on the method chosen by the customer, the area of delivery and the item ordered. The final cost of shipping can be estimated at the time of checkout and payment only.</p>
                        <p>We take a <b>minimum of 2 and a maximum of 6 days</b> to ship your order and the delivery may take a minimum of 5 to a maximum of 15 days to reach you depending on the shipping method chosen by you and your location. Exact details of the same can be seen at the time of placing the order.</p>
                        <p>*All these are third party shipping services. We are responsible for shipping the order but are not liable for any contingencies regarding the delay in delivery, If any, due to the limitations of carrier services or due to any natural calamities, bad weather conditions, limitations of the outreach of delivery address, unavailability of the recipient, etc.</p>
                    </li>
                    <li>
                        <h2>Address Authentication</h2>
                        <p>The shipments are sent to the address given by the customers at the time of checkout. Any mistakes or typos in the address may result in delay or undeliverable of the shipment. Piharwa is not liable neither able to check the accuracy or make any changes in the address entered by the customer at the time of placing the order.</p>
                    </li>
                    <li>
                        <h2>Shipment confirmation and order tracking</h2>
                        <p>The customers will receive a tracking number once the order is shipped. The customer can track his/her order on the official website of the carrier they selected using the given tracking number.</p>
                    </li>
                    <li>
                        <h2>Customs, duties, and taxes</h2>
                        <p>Piharwa is not responsible for any customs and taxes applied to your order. All fees imposed during or after shipping are the responsibility of the customer (tariffs, taxes, etc.).</p>
                    </li>
                    <li>
                        <h2>Damages</h2>
                        <p>Piharwa is not liable for any products damaged or lost during shipping. If you received your order damaged, please contact the shipment carrier or our support team directly to file a claim. Please save all packaging material and damaged goods before filing a claim.</p>
                    </li>
                </ol>
            </li><br/><br/>
            <li>
                <h1>International Shipping Policy</h1>
                <p>We can ship the products outside India, Only if you can see a shipping option to your address is available at the time of checkout. You can also contact us via email or WhatsApp if you do not see any option but are willing to receive the product outside India with a prepaid shipping cost.</p>
            </li>
        </ul><br/><br/><br/>
    </div>
</div>