<div class="breadgeCumMenu">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shopping</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#">Add Address</a></li>
            </ol>
        </nav>
    </div>
</div>
<div class="cartDetails mb-5">
    <div class="container">
        <div class="cartLists">
            <div class="row">
                <div class="col-md-8">
                    <div class="formUi">
                        <div class="row">
                            <div class="col-md-12 mb-5">
                                <div class="d-flex justify-content-between mb-3">
                                    <label class="text-black fs20 fw500">Contact Information</label>
                                    <label class="text-black fs15 fw600">Already have an account ? <span
                                            class="col1">Log In</span></label>
                                </div>
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="Email">
                                </mat-form-field> 
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="d-flex mb-3">
                                    <label class="text-black fs20 fw500">Shipping Address</label>
                                </div>
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Country</mat-label>
                                    <mat-select>
                                        <mat-option value="one">First option</mat-option>
                                        <mat-option value="two">Second option</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>First Name</mat-label>
                                    <input matInput placeholder="First Name">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Last Name</mat-label>
                                    <input matInput placeholder="First Name">
                                </mat-form-field>
                            </div>
                            <div class="col-md-12">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Address</mat-label>
                                    <input matInput placeholder="Address">
                                </mat-form-field>
                            </div>
                            <div class="col-md-12">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Apartment , Locality</mat-label>
                                    <input matInput placeholder="Apartment , Locality">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>City</mat-label>
                                    <input matInput placeholder="City">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>State</mat-label>
                                    <input matInput placeholder="State">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Pin Code</mat-label>
                                    <input matInput placeholder="Pin Code">
                                </mat-form-field>
                            </div>
                            <div class="col-md-12">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Phone Number</mat-label>
                                    <input matInput placeholder="Phone Number">
                                </mat-form-field>
                            </div>
                            <div class="col-md-12">
                                <div class="d-flex align-items-center mb-3">
                                    <div class="checkBoxes">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                                value="option1">
                                        </div>
                                    </div>
                                    <h4 class="fs14 fw500 col3 mb-0">Save Information for next purchase</h4>
                                </div>
                                <div class="d-flex align-items-center pointer">
                                    <span><img src="../../../assets/img/leftArrow.png" class="img-fluid w8" /></span>
                                    <span class="ms-2">Return to Cart</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <div class="orderSummary">
                        <div class="productQuantity">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="cartImgBox">
                                        <img src="../../../assets/img/products2.png" alt="User" class="img-fluid" />
                                    </div>
                                </div>
                                <div class="col-md-8 ps-1">
                                    <div class="cartTextBox">
                                        <div class="mb-2 text-black fs13 fw600 col3">Floral Printed Organza Dress</div>
                                    </div>
                                    <div class="productCount align-items-center">
                                        <div class="col3 fs14 fw500">Quantity</div>
                                        <form action="#" class="d-flex align-items-center ms-2">
                                            <div class="qtyminus pointer">-</div>
                                            <input type="text" name="quantity" value="1" class="qty">
                                            <div class="qtyplus pointer">+</div>
                                        </form>
                                        <div class="deleteBtn ms-2 ps-1">
                                            <img src="../../../assets/img/delete.png" alt="User" width="17" height="20"
                                                class="img-fluid pointer" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between borderBottom2">
                        </div>
                        <div class="fs14 fw600 text-black mb-3">Subtotal</div>
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <div class="fs14 fw500 col5">Subtotal</div>
                            <div class="fs14 fw600 col3">₹ 10,400.00</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between borderBottom2">
                            <div class="fs14 fw500 col5">Shipping Cost</div>
                            <div class="fs14 fw600 col3">₹ 300.00</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-5">
                            <div class="fs14 fw500 col5">Total</div>
                            <div class="fs14 fw600 col3">₹ 36,100.00</div>
                        </div>
                        <div class="summaryBtn">
                            <button class="explore_button xlSize w-100 d-block">
                                Continue To Shipping
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>