h2.newTitles {
    font-size: 40px;
    font-weight: 600;
    color: #4F4F4F;
}

h2.newTitles>span {
    color: #00953E;
}

.color-green {
    color: #00953E;
}

.sidebars {
    background: #FFFFFF;
    box-shadow: 0px 0.782878px 6.26303px rgba(0, 0, 0, 0.25);
    border-radius: 7.82878px;
}

ul.list-unstyled li > button {
    outline: 0 !important; 
}

ul.list-unstyled li ul li {
    margin-left: 35px; ;
    margin-bottom: 10px;
}
ul.list-unstyled li ul li > a.active {
    color: #00953E !important;     
}
ul.list-unstyled li ul li > a {
    text-decoration: none;
}

ul.list-unstyled li {
    font-size: 17px;
    cursor: pointer;
}
.right-sidebar {
    background: #FFFFFF;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 40px 40px; 
}
.right-sidebar h4 {
    color: #333333;
    font-size: 25px; 
    font-weight: 600; 
    margin-bottom: 0; 
}
.right-sidebar a {
    color: #00953E; 
    font-size: 18px; 
    font-weight: 600;    
}
.green-btn {
    color: #00953E; 
    border: solid 1px #00953E;              
    text-decoration: none;  
    padding: 6px 10px; 
    font-size: 18px;
    font-weight: 600;
    padding: 13px 20px;
    border-radius: 5px;
}
.text-none {
    text-decoration: none;
}
.add-new-btn{
    cursor: pointer;
}   .order-lists {

}
.order-txt1 h4 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #00953E;
}
.order-txt1 p {
  color: #333333;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 15px; 
}
.order-lists .card {  
  border-radius: 13px;
  border: 1px solid #D8E8E0;
}
.order-lists .card-header {  
  background: #D8E8E1; 
  border-bottom: none;  
}
.order-txt2 h5 { 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #333333;  
}
.select-one .form-select { 
  box-shadow: none !important; 
  background-color: transparent !important; 
  border: none !important; 
}
.select-one .form-select:hover, 
.select-one .form-select:focus {
  box-shadow: none !important; 
}
h3.h3-titles {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20.7801px;
  color: #333333;  
}
.img-box1 > img {
  border-radius: 10px; 
}
.btn-order {
  background: #00953E;
  border: solid 1px #00953E; 
  border-radius: 5.03124px;
  width: 154px;
  height: 45.34px;
  display: inline-block;
  display: flex;
  margin-left: auto;
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  text-decoration: none; 
  color: #fff !important;
  font-style: normal;
  font-weight: 500 !important;  
  font-size: 13.6889px; 
}
.btn-return {
  background: white;  
  border: solid 1px #00953E; 
  border-radius: 5.03124px;
  width: 154px;
  height: 45.34px;
  display: inline-block;
  display: flex;
  margin-left: auto;
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  text-decoration: none; 
  color: #00953E !important;
  font-style: normal;
  font-weight: 500 !important;  
  font-size: 13.6889px; 
}
h1.order-titles { 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px; 
  color: #00953E;  
}
@media (max-width: 767px) {
  .btn-order, .btn-return {
    margin-right: auto;
  }
}

.settingIcons{
  margin-right: 10px;
  color: #00953E;
}
.settingListing{
      border-bottom: 1px solid #eee;
      padding-bottom: 20px;
      padding-top: 15px;
}
.orderListing{
  padding-top: 15px;
}