<div class="container">
    <div class="row pt-4 mb-4">
      <div class="col-md-3">
        <div class="flex-shrink-0 p-3 bg-white sidebars">
          <ul class="list-unstyled ps-0">
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#home-collapse" aria-expanded="true">
                <!-- <sapn class="me-2 color-green"><i class="fa fa-user" aria-hidden="true"></i></sapn>Account Information -->
              </button>
              <div class="collapse show" id="home-collapse" style="">  
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li class="settingListing" routerLink="/account-information"><i class="fa fa-info-circle settingIcons"></i> <span>Account Information</span></li>
    <li class="orderListing" routerLink="/order-list"><i class="fa fa-list settingIcons" ></i> <span>Orders</span></li>
              </ul>
              </div>
            </li>
            <li class="border-top my-3"></li>
            <li routerLink="/home">
              <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#orders-collapse" aria-expanded="false">
                <span class="me-2 color-green"><i class="fa fa-sign-out" aria-hidden="true"></i></span>Home
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <div class="order-lists">  
          <div class="container">  
            <h1 class="mb-4 mb-md-5 order-titles">Order Information</h1>   
            <div *ngIf="orderDetails">
            <div class="card mb-3 order-card" *ngFor="let orderItems of orderDetails">  
              <div class="card-header px-4">
                  <div class="row align-items-end">
                    <div class="col-md-6">
                      <div class="d-flex">
                        <div class="order-txt1">
                            <h4>Order Placed</h4>
                            <p class="mb-0">{{ orderItems.createdAt }}</p>
                        </div>
                        <div class="order-txt1 ms-5">
                            <h4>Order Total</h4>
                            <p class="mb-0">₹ {{ orderItems.amount }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="d-flex align-items-center justify-content-md-end order-txt2 mt-auto">  
                          <h5 class="mb-0">Order Details</h5>
                          <span class="mx-3">|</span>
                          <div class="select-one"> 
                                {{orderItems._id}}<br>{{orderItems.paymentStatus}}
                          </div>
                      </div>
                    </div>  
                  </div>
              </div>  
              <div class="card-body px-4" *ngFor="let subItems of orderItems.items">  
                <div class="row">
                  <div class="col-md-9">
                    <div class="row">
                      <div class="col-sm-3">
                        <div class="img-box1">
                          <img src="{{ subItems.productImg }}" class="img-fluid" alt="Product" />  
                        </div>
                      </div>
                      <div class="col-sm-9">
                        <h3 class="h3-titles text-center text-sm-left mt-3 mt-sm-0 mb-3 mb-sm-0">{{ subItems.productTitle }}</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 mt-3 mt-md-0 text-center text-md-end">   
                    <div class="pro-btn1 mb-3">
                      <a href="#" class="btn-order">Track Order</a>
                    </div>
                    <!-- <div class="pro-btn2">
                      <a href="#" class="btn-return">Return / Replace</a>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="text-align: center;" *ngIf="orderDetails.length == 0">
            <img src ="https://piharwa-bucket.s3.us-east-2.amazonaws.com/temp/empty_cart.png">
          </div>
            <!-- <div class="card mb-3 order-card">  
              <div class="card-header px-4">
                  <div class="row align-items-end">
                    <div class="col-md-6">
                      <div class="d-flex">
                        <div class="order-txt1">
                            <h4>Order Placed</h4>
                            <p class="mb-0">4 November 2022</p>
                        </div>
                        <div class="order-txt1 ms-5">
                            <h4>Order Total</h4>
                            <p class="mb-0">₹ 1500.00</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="d-flex align-items-center justify-content-md-end order-txt2 mt-auto">  
                          <h5 class="mb-0">Order Details</h5>
                          <span class="mx-3">|</span>
                          <div class="select-one"> 
                              <select class="form-select" aria-label="Default select example">
                                <option selected>Invoice</option>
                                <option value="1">1500 Rs.</option>
                                <option value="2">2000 Rs.</option>
                                <option value="3">2500 Rs.</option>
                              </select>
                          </div>
                      </div>
                    </div>  
                  </div>
              </div>  
              <div class="card-body px-4">  
                <div class="row">
                  <div class="col-md-9">
                    <div class="row">
                      <div class="col-sm-3">
                        <div class="img-box1">
                          <img src="https://www.miabytanishq.com/wps/wcm/connect/miabytanishq/e3bb1bf6-af0f-43f5-9321-775efaa88a18/smartphone/Wavemaker%2B%2BMOBILE.png?MOD=AJPERES&CACHEID=ROOTWORKSPACE.Z18_90IA1H80OORPC0QN3B4O671081-e3bb1bf6-af0f-43f5-9321-775efaa88a18-smartphone-ohnJxco" class="img-fluid" alt="Product" />  
                        </div>
                      </div>
                      <div class="col-sm-9">
                        <h3 class="h3-titles text-center text-sm-left mt-3 mt-sm-0 mb-3 mb-sm-0">Floral Printed Organza Dress</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 mt-3 mt-md-0 text-center text-md-end">   
                    <div class="pro-btn1 mb-3">
                      <a href="#" class="btn-order">Track Order</a>
                    </div>
                    <div class="pro-btn2">
                      <a href="#" class="btn-return">Return / Replace</a>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 

   -->
