<!-- Start Featured Product -->
<section class="featuresProducts">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12 m-auto">
                <h1 class="fontStyle2">
                    <span class="color_head_black fs48 fw500">Featured</span>
                    <span class="color_head_green fs48 fw500"> Product </span>
                </h1>
                <p class="fs18 lineH22 col3 fw300 mb-4">
                    Checkout Our Best Selling Products of the week to know what people are loving from our wide range.
                </p>
            </div>
        </div>
        <div class="row mx80">
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html" class="d-block position-relative">
                        <div class="imgSet">
                            <img src="../../../assets/img/fe1.jpg" class="card-img-top" alt="Icon" class="img-fluid" />
                        </div>
                        <div class="heartIcon">
                            <span class="circleStyles"><img src="../../../assets/img/hearts.png" class="img-fluid"
                                    alt="Icon" /></span>
                            <span class="circleStyles"><img src="../../../assets/img/carts.png" class="img-fluid"
                                    alt="Icon" /></span>
                        </div>
                    </a>
                    <div class="card-body ps-0 pr-0">
                        <p class="fs19 fw500 col5 fontStyle1 mt-3 mb-1">Hanger Saree Wrap (Set of 3)</p>
                        <!-- <p class="fs18 fw700 col3 fontStyle1">RS 240.00</p> -->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html" class="d-block position-relative">
                        <div class="imgSet">
                            <img src="../../../assets/img/products2.png" class="card-img-top" alt="Icon"
                                class="img-fluid" />
                        </div>
                        <div class="heartIcon">
                            <span class="circleStyles"><img src="../../../assets/img/hearts.png" class="img-fluid"
                                    alt="Icon" /></span>
                            <span class="circleStyles"><img src="../../../assets/img/carts.png" class="img-fluid"
                                    alt="Icon" /></span>
                        </div>
                    </a>
                    <div class="card-body ps-0 pr-0">
                        <p class="fs19 fw500 col5 fontStyle1 mt-3 mb-1">Hanger Saree Wrap (Set of 3)</p>
                        <!-- <p class="fs18 fw700 col3 fontStyle1">RS 240.00</p> -->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html" class="d-block position-relative">
                        <div class="imgSet">
                            <img src="../../../assets/img/products3.png" class="card-img-top" alt="Icon"
                                class="img-fluid" />
                        </div>
                        <div class="heartIcon">
                            <span class="circleStyles"><img src="../../../assets/img/hearts.png" class="img-fluid"
                                    alt="Icon" /></span>
                            <span class="circleStyles"><img src="../../../assets/img/carts.png" class="img-fluid"
                                    alt="Icon" /></span>
                        </div>
                    </a>
                    <div class="card-body ps-0 pr-0">
                        <p class="fs19 fw500 col5 fontStyle1 mt-3 mb-1">Hanger Saree Wrap (Set of 3)</p>
                        <!-- <p class="fs18 fw700 col3 fontStyle1">RS 240.00</p> -->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html" class="d-block position-relative">
                        <div class="imgSet">
                            <img src="../../../assets/img/fe1.jpg" class="card-img-top" alt="Icon" class="img-fluid" />
                        </div>
                        <div class="heartIcon">
                            <span class="circleStyles"><img src="../../../assets/img/hearts.png" class="img-fluid"
                                    alt="Icon" /></span>
                            <span class="circleStyles"><img src="../../../assets/img/carts.png" class="img-fluid"
                                    alt="Icon" /></span>
                        </div>
                    </a>
                    <div class="card-body ps-0 pr-0">
                        <p class="fs19 fw500 col5 fontStyle1 mt-3 mb-1">Hanger Saree Wrap (Set of 3)</p>
                        <!-- <p class="fs18 fw700 col3 fontStyle1">RS 240.00</p> -->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html" class="d-block position-relative">
                        <div class="imgSet">
                            <img src="../../../assets/img/products2.png" class="card-img-top" alt="Icon"
                                class="img-fluid" />
                        </div>
                        <div class="heartIcon">
                            <span class="circleStyles"><img src="../../../assets/img/hearts.png" class="img-fluid"
                                    alt="Icon" /></span>
                            <span class="circleStyles"><img src="../../../assets/img/carts.png" class="img-fluid"
                                    alt="Icon" /></span>
                        </div>
                    </a>
                    <div class="card-body ps-0 pr-0">
                        <p class="fs19 fw500 col5 fontStyle1 mt-3 mb-1">Hanger Saree Wrap (Set of 3)</p>
                        <!-- <p class="fs18 fw700 col3 fontStyle1">RS 240.00</p> -->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html" class="d-block position-relative">
                        <div class="imgSet">
                            <img src="../../../assets/img/products3.png" class="card-img-top" alt="Icon"
                                class="img-fluid" />
                        </div>
                        <div class="heartIcon">
                            <span class="circleStyles"><img src="../../../assets/img/hearts.png" class="img-fluid"
                                    alt="Icon" /></span>
                            <span class="circleStyles"><img src="../../../assets/img/carts.png" class="img-fluid"
                                    alt="Icon" /></span>
                        </div>
                    </a>
                    <div class="card-body ps-0 pr-0">
                        <p class="fs19 fw500 col5 fontStyle1 mt-3 mb-1">Hanger Saree Wrap (Set of 3)</p>
                        <!-- <p class="fs18 fw700 col3 fontStyle1">RS 240.00</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="center">
        <button class="explore_button">
            Explore more
        </button>
    </div>
</section>
<!-- End Featured Product -->
