<section class="bg-latest">
    <div class="container py-3">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">
                    <span class="color_head_black" >Latest </span>
                     <span class="color_head_green">  Arrival </span> 
                </h1>
                <p class="tittle_sub">
                    Checkout Our Best Selling Products of the week to know what people are loving from our wide range.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="../../../assets/img/fe1.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li  class="text-muted text-right">Hanger Saree Wrap (Set of 3)</li>
                        </ul>
                        <p class="text-muted">RS 240.00</p> 
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="../../../assets/img/fe1.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li  class="text-muted text-right">Hanger Saree Wrap (Set of 3)</li>
                        </ul>
                        <p class="text-muted">RS 240.00</p> 
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="../../../assets/img/fe1.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li  class="text-muted text-right">Black Organza Georgette</li>
                        </ul>
                        <p class="text-muted">RS 240.00</p> 
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="../../../assets/img/fe1.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li  class="text-muted text-right">Black Organza Georgette</li>
                        </ul>
                        <p class="text-muted">RS 240.00</p> 
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="center">
        <button class="explore_button">
            Explore more
        </button>
    </div>
</section>