<section class="bg-latest">
    <div class="container py-3">
        <div class="row text-center py-3">
            <div class="col-lg-12 m-auto">
                <h1 class="fontStyle2">
                    <span class="color_head_black fs48 fw500">Latest</span>
                    <span class="color_head_green fs48 fw500"> Arrival </span>
                </h1>
                <p class="fs18 lineH22 col3 fw300 mb-4">
                    Checkout Our Best Selling Products of the week to know what people are loving from our wide range.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-3 mb-4"  *ngFor="let lproduct of latestArrivalProduct">
                <div class="card h-100">
                    <a (click)="gotoDetailProduct(lproduct._id)" class="d-block position-relative" style="cursor: pointer;">
                        <div class="imgSet">
                            <img src="{{lproduct.productImg}}" class="card-img-top" alt="Icon" class="img-fluid" />
                        </div>
                        <!-- <div class="heartIcon">
                            <span class="circleStyles"><img src="../../../assets/img/hearts.png" class="img-fluid"
                                    alt="Icon" /></span>
                            <span class="circleStyles"><img src="../../../assets/img/carts.png" class="img-fluid"
                                    alt="Icon" /></span>
                        </div> -->
                    </a>
                    <div class="card-body ps-0 pr-0">
                        <p class="fs19 fw500 col5 fontStyle1 mt-3 mb-1">{{lproduct.productTitle}}</p>
                        <!-- <p class="fs18 fw700 col3 fontStyle1">RS 240.00</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="center">
        <button class="explore_button">
            Explore more
        </button>
    </div> -->
</section>