<div class="breadgeCumMenu">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Cart</a></li>
                <li class="breadcrumb-item"><a href="#">Shipping Details</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#">Payment</a></li>
            </ol>
        </nav>
    </div>
</div>

<div class="cartDetails mb-5">
    <div class="container">
        <div class="cartLists">
            <div class="row">
                <div class="col-md-8">  
                    <!-- <div class="borderBottom">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="cartImgBox">
                                    <img src="../../../assets/img/products2.png" alt="User" class="img-fluid" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cartTextBox">
                                    <h3 class="mb-2 fs18 fw600 col3">Floral Printed Organza Dress</h3>
                                    <div class="d-flex align-items-center mb-3">
                                        <div class="checkBoxes">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                                    value="option1">
                                            </div>
                                        </div>
                                        <h4 class="fs14 fw500 col3 mb-0">Fall & Pico</h4>
                                    </div>
                                </div>
                                <div class="productCount align-items-center">
                                    <form action="#" class="d-flex align-items-center">
                                        <div class="qtyminus pointer">-</div>
                                        <input type="text" name="quantity" value="1" class="qty">
                                        <div class="qtyplus pointer">+</div>
                                    </form>
                                    <div class="deleteBtn ms-4 ps-1">
                                        <img src="../../../assets/img/delete.png" alt="User" width="17" height="20"
                                            class="img-fluid pointer" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-end">
                                <div class="priceList">
                                    <div class="fs18 fw500 col3 mb-1">₹ 15,200.00</div>
                                    <div class="fs18 fw500 col3 mb-4 pb-4">₹ 100.00</div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="fs14 fw400 col3">Total Amount</div>
                                        <div class="fs18 fw600 col1">₹ 15,300.00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="borderBottom" *ngFor="let cartitem of cartData">
                        <div class="row" *ngIf="cartitem.productTitle != ''">
                            <div class="col-md-2">
                                <div class="cartImgBox">
                                    <img src="{{cartitem.pimage}}" alt="User" class="img-fluid" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cartTextBox">
                                    <h3 class="mb-2 fs18 fw600 col3">{{cartitem.productTitle}}</h3>
                                    <!-- <div class="d-flex align-items-center mb-3">
                                        <div class="checkBoxes">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                                    value="option1">
                                            </div>
                                        </div>
                                        <h4 class="fs14 fw500 col3 mb-0">Fall & Pico</h4>
                                    </div>   -->
                                </div>
                                <div class="productCount align-items-center">
                                    <form action="#" class="d-flex align-items-center">
                                        <!-- <div class="qtyminus pointer">-</div> -->
                                        <input type="text" name="quantity" value="{{cartitem.quantity}}" class="qty">
                                        <!-- <div class="qtyplus pointer">+</div> -->
                                    </form>
                                    <div class="deleteBtn ms-4 ps-1"(click)="removeData(cartitem)" >
                                        <img src="../../../assets/img/delete.png" alt="User" width="17" height="20"
                                            class="img-fluid pointer" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-end">
                                <div class="priceList">
                                    <div class="fs18 fw500 col3 mb-1">₹ {{cartitem.price}}</div>
                                    <!-- <div class="fs18 fw500 col3 mb-4 pb-4">₹ 200.00</div> -->
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="fs14 fw400 col3">Total Amount</div>
                                        <div class="fs18 fw600 col1">₹ {{cartitem.price*cartitem.quantity}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <div class="orderSummary">
                        <div class="fs14 fw600 text-black mb-3">Subtotal</div>
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <div class="fs14 fw500 col5">Subtotal</div>
                            <div class="fs14 fw600 col3">₹{{this.subtotal}}</div>
                        </div>
                        <!-- <div class="d-flex align-items-center justify-content-between borderBottom2">
                            <div class="fs14 fw500 col5">Shipping Cost</div>
                            <div class="fs14 fw600 col3">₹ 300.00</div>
                        </div> -->
                        <div class="d-flex align-items-center justify-content-between mb-5">
                            <div class="fs14 fw500 col5">Total</div>
                            <div class="fs14 fw600 col3">₹ {{this.subtotal}}</div>
                        </div>
                        <div class="summaryBtn">
                            <button class="explore_button xlSize w-100 d-block" (click)="continueToShipping()"  >
                                Continue To Shipping
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>