<div class="container">
    <!-- <h2 class="newTitles mt-5">Welcome <span>Akshat !!</span></h2> -->
    <div class="row pt-4 mb-4">
      <div class="col-md-3">
        <div class="flex-shrink-0 p-3 bg-white sidebars">
          <ul class="list-unstyled ps-0">
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#home-collapse" aria-expanded="true">
                <!-- <sapn class="me-2 color-green"><i class="fa fa-user" aria-hidden="true"></i></sapn>Account Information -->
              </button>
              <div class="collapse show" id="home-collapse" style="">  
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="#" class="link-dark rounded active">Manage Address</a></li>
                  <li><a href="#" class="link-dark rounded">Manage Password</a></li>
                </ul>
              </div>
            </li>
            <li class="border-top my-3"></li>
            <li>
              <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse " routerLink="/order-list"
                data-bs-target="#orders-collapse" aria-expanded="false">
                <span class="me-2 color-green"><i class="fa fa-first-order" aria-hidden="true"></i></span>Orders
              </button>
            </li>
            <li>
              <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" (click)="logout()"
                data-bs-target="#orders-collapse" aria-expanded="false">
                <span class="me-2 color-green"><i class="fa fa-sign-out" aria-hidden="true"></i></span>Logout
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <div class="right-sidebar">
          <div class="d-flex align-items-center justify-content-between w-100">
            <h4 class="titles4">Manage Address</h4>
            <a (click)="openAddAdressWindow()" class="add-new-btn text-none">+ Add New Address</a>
          </div>
          <div class="mb-4"></div>
          <div class="lists-data" *ngFor="let addressList of address">
            <div class="row">
              <div class="col-md-9">
                <p *ngIf="addressList.default === true"><mat-icon>check_circle</mat-icon> </p>
                <p><strong>Name : </strong> {{addressList.firstName}} {{addressList.lastName}}</p>
                <p class="mb-1"><strong>Address : </strong> {{addressList.address_line_one}}, {{addressList.address_line_two}}  {{addressList.landmark}}</p>
                <p class="mb-1">City - {{addressList.city}} State -{{addressList.state}},</p>
                  <p>Pincode-{{addressList.pincode}}, Country-{{addressList.country}}</p> 
                  <p><strong>MobileNo : </strong> {{addressList.mobileNo}}</p>
              </div>
              <div class="col-md-3 text-end">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="makedefault(addressList)">
                      <mat-icon>check</mat-icon>
                      <span>Make Default</span>
                    </button>
                    <button mat-menu-item (click)="deleteaddressWindow(addressList)">
                      <mat-icon  >delete</mat-icon>
                      <span>Delete Address</span>
                    </button>
                    <button mat-menu-item (click)="openEditAdressWindow(addressList)">
                      <mat-icon>edit</mat-icon>
                      <span>Edit Address</span>
                    </button>
                  </mat-menu>
              </div>
            </div>
          <br/>
          <hr/>
          </div>
          <!-- <div class="border-bottom mt-3 mb-3"></div>
          <div class="lists-data">
            <div class="row">
              <div class="col-md-9">
                <p class="mb-1">405, Mahashweta Nagar, Ujjain, Madhya Pradesh</p>
                <p class="mb-1">Near Kirti Mandir School,</p>
                <p class="mb-1">456010,9874563210, 985632147</p>
              </div>
              <div class="col-md-3 text-end"> 
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>