/* You can add global styles to this file, and also import other style files */
// new color variable
// @import './assets/scss/variable';

$col1: #00953E;
$col2: #D61313;
$col3: #333333;
$col4: #828282;
$col5: #4F4F4F;

// color classes
.col1 {
    color: $col1 !important;
}

.col2 {
    color: $col2 !important;
}

.col3 {
    color: $col3 !important;
}

.col4 {
    color: $col4 !important;
}

.col5 {
    color: $col5 !important;
}

// font style start

// @font-face {
//     font-family: Britania Ligatura;
//     src: url(./assets/fonts/BritaniaLigatura-nRZmV.ttf); 
// }

// font style end 

// fonts weight 
$fw300: 300;
$fw400: 400;
$fw500: 500;
$fw600: 600;
$fw700: 700;
$fwbold: bold;

// font weight classes
.fw300 {
    font-weight: $fw300;
}

.fw400 {
    font-weight: $fw400;
}

.fw500 {
    font-weight: $fw500;
}

.fw600 {
    font-weight: $fw600;
}

.fw700 {
    font-weight: $fw700;
}

.fwbold {
    font-weight: $fwbold;
}

// font-size start 
.fs12 {
    font-size: 12px;
}

.fs13 {
    font-size: 13px;
}

.fs14 {
    font-size: 14px;
}

.fs15 {
    font-size: 15px;
}

.fs16 {
    font-size: 16px;
}

.fs17 {
    font-size: 17px;
}

.fs18 {
    font-size: 18px;
}

.fs19 {
    font-size: 19px;
}

.fs20 {
    font-size: 20px;
}

.fs21 {
    font-size: 21px;
}

.fs22 {
    font-size: 22px;
}

.fs23 {
    font-size: 23px;
}

.fs24 {
    font-size: 24px;
}

.fs25 {
    font-size: 25px;
}

.fs26 {
    font-size: 26px;
}

.fs27 {
    font-size: 27px;
}

.fs28 {
    font-size: 28px;
}

.fs29 {
    font-size: 29px;
}

.fs30 {
    font-size: 30px;
}

.fs31 {
    font-size: 31px;
}

.fs32 {
    font-size: 32px;
}

.fs33 {
    font-size: 33px;
}

.fs34 {
    font-size: 34px;
}

.fs35 {
    font-size: 35px;
}

.fs36 {
    font-size: 36px;
}

.fs37 {
    font-size: 37px;
}

.fs38 {
    font-size: 38px;
}

.fs39 {
    font-size: 39px;
}

.fs40 {
    font-size: 40px !important;
}

.fs48 {
    font-size: 48px !important;
}

.fs100 {
    font-size: 100px !important;
}



// font-size end 
// button component start 
.button {
    box-shadow: none;
    outline: none;
    border: 0;
    padding: 7px 20px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 7px;

    img {
        margin-top: -3px;
    }

    &.editBtns {
        padding: 7px 30px;
        padding-right: 15px;
    }
}

// font style start

@font-face {
    // font-family: Britania Ligatura;
    // src: url(assets/fonts/BritaniaLigatura-nRZmV.ttf); 
}

// font style end 

// button component start 

.primary {
    // background-color: $col1;
    // border-color: $col1;
    color: white;
    background-image: none;

    &:hover,
    &:focus,
    &:active,
    &:active:hover {
        // background-color: $col17; 
        // border-color:$col17;
    }

    &:active {
        &:focus {
            // background-color: $col17;
            box-shadow: none;
        }
    }

    &.bigBtn {
        min-width: 90px;
        min-height: 48px;
    }
}

.secondary {
    // background-color: $col7;
    // border-color: $col7;
    background-image: none;
    border-radius: 7px;

    &:hover,
    &:focus,
    &:active,
    &:active:hover {
        // background-color: $col7;
        // border-color: $col3;
    }

    &:active {
        &:focus {
            // background-color: $col7;
            box-shadow: none;
        }
    }
}

.dark {
    // background-color: $col4;
    // border-color: $col4;
    background-image: none;
    border-radius: 7px;
    color: white;

    &:hover,
    &:focus,
    &:active,
    &:active:hover {
        // background-color: $col18;  
        // border-color: $col3;  
    }

    &:active {
        &:focus {
            // background-color: $col18;
            box-shadow: none;
        }
    }

}

// button component end 

body {
    font-family: 'Montserrat', sans-serif !important;
}

.fontStyle1 {
    font-family: 'Montserrat', sans-serif !important;
}

.fontStyle2 {
    font-family: Britania Ligatura !important;
}

.text-dark {
    color: $col1 !important;
}

.navheight {
    height: 55px;
    border-bottom: 2px solid $col1;
}

#templatemo_main_nav a {
    color: #212934;
    font-weight: 400 !important;
}

#templatemo_main_nav .navbar-nav {
    max-width: 100%;
}

.color_head_black {
    font-size: 33px;
    color: black;
    font-weight: 400;
}

.color_head_green {
    color: $col1;
    font-size: 33px;
    font-weight: 400;
}

.text-muted {
    font-size: 12px !important;
    font-weight: 500 !important;
    text-transform: uppercase;
    color: #4F4F4F !important;
}

.explore_button {
    width: 216px;
    height: 48px;
    background: $col1;
    border-radius: 10.252px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 19.2358px;
    line-height: 31px;
    text-transform: capitalize;
    color: #FFFFFF;
    border: none;
    margin-bottom: 36px; 
    &.xlSize {
        min-height: 60px;     
        border: solid 2px $col1; 
        @media (min-width: 768px) { 
            min-width: 300px; 
            text-align: center; 
        }
    }
    &.xSmalls {
        min-height: 30px; 
        padding-left: 15px;
        padding-right: 15px;
        width: auto; 
        display: inline-block; 
        font-size: 16px;
        font-weight: 500; 
    }
}

.pointer { 
    cursor: pointer; 
}

.center {
    text-align: center;
}

.checkBoxes {
    .form-check-inline {
        box-shadow: none !important; 
        .form-check-input {
            width: 18px;
            height: 18px; 
            border: 1px solid rgba(0, 0, 0, 50%); 
            border-radius: 0px; 
            &:checked {
                background-color: #00953E;
                border-color: #00953E;
            }
            &:hover, &:focus {
                box-shadow: none !important; 
            }
        }
    }
}

.bg-latest {
    background: url(./assets/img/Rectangle.png);
    color: azure;
    font-weight: 600;
    background-size: auto;
}

.tittle_sub {
    color: $col3;
}

.breadgeCumMenu {
    padding: 35px 0;

    ol.breadcrumb {  
        margin-bottom: 0; 
        li {
            a {
                text-decoration: none;
                font-weight: 500;
                color: #4F4F4F;
            }

            &.active {
                a {
                    font-weight: 600;
                    color: #333333;  
                }
            }
        }
    }
}

