/* You can add global styles to this file, and also import other style files */
// new color variable
// @import './assets/scss/variable';

$col1: #00953E;
$col2: #D61313;
$col3: #333333;
$col4: #828282;
$col5: #4F4F4F;

// color classes
.col1 {
    color: $col1 !important;
}

.col2 {
    color: $col2 !important;
}

.col3 {
    color: $col3 !important;
}

.col4 {
    color: $col4 !important;
}

.col5 {
    color: $col5 !important;
}

// font style start

// @font-face {
//     font-family: Britania Ligatura;
//     src: url(./assets/fonts/BritaniaLigatura-nRZmV.ttf); 
// }

// font style end 

// fonts weight 
$fw300: 300;
$fw400: 400;
$fw500: 500;
$fw600: 600;
$fw700: 700;
$fwbold: bold;

// font weight classes
.fw300 {
    font-weight: $fw300;
}

.fw400 {
    font-weight: $fw400;
}

.fw500 {
    font-weight: $fw500;
}

.fw600 {
    font-weight: $fw600;
}

.fw700 {
    font-weight: $fw700;
}

.fwbold {
    font-weight: $fwbold;
}

// font-size start 
.fs12 {
    font-size: 12px;
}

.fs13 {
    font-size: 13px;
}

.fs14 {
    font-size: 14px;
}

.fs15 {
    font-size: 15px;
}

.fs16 {
    font-size: 16px;
}

.fs17 {
    font-size: 17px;
}

.fs18 {
    font-size: 18px;
}

.fs19 {
    font-size: 19px;
}

.fs20 {
    font-size: 20px;
}

.fs21 {
    font-size: 21px;
}

.fs22 {
    font-size: 22px;
}

.fs23 {
    font-size: 23px;
}

.fs24 {
    font-size: 24px;
}

.fs25 {
    font-size: 25px;
}

.fs26 {
    font-size: 26px;
}

.fs27 {
    font-size: 27px;
}

.fs28 {
    font-size: 28px;
}

.fs29 {
    font-size: 29px;
}

.fs30 {
    font-size: 30px;
}

.fs31 {
    font-size: 31px;
}

.fs32 {
    font-size: 32px;
}

.fs33 {
    font-size: 33px;
}

.fs34 {
    font-size: 34px;
}

.fs35 {
    font-size: 35px;
}

.fs36 {
    font-size: 36px;
}

.fs37 {
    font-size: 37px;
}

.fs38 {
    font-size: 38px;
}

.fs39 {
    font-size: 39px;
}

.fs40 {
    font-size: 40px !important;
}

.fs48 {
    font-size: 48px !important;
}

.fs100 {
    font-size: 100px !important;
}



// font-size end 
// button component start 
.button {
    box-shadow: none;
    outline: none;
    border: 0;
    padding: 7px 20px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 7px;

    img {
        margin-top: -3px;
    }

    &.editBtns {
        padding: 7px 30px;
        padding-right: 15px;
    }
}

// font style start

@font-face {
    // font-family: Britania Ligatura;
    // src: url(assets/fonts/BritaniaLigatura-nRZmV.ttf); 
}

// font style end 

// button component start 

.primary {
    // background-color: $col1;
    // border-color: $col1;
    color: white;
    background-image: none;

    &:hover,
    &:focus,
    &:active,
    &:active:hover {
        // background-color: $col17; 
        // border-color:$col17;
    }

    &:active {
        &:focus {
            // background-color: $col17;
            box-shadow: none;
        }
    }

    &.bigBtn {
        min-width: 90px;
        min-height: 48px;
    }
}

.secondary {
    // background-color: $col7;
    // border-color: $col7;
    background-image: none;
    border-radius: 7px;

    &:hover,
    &:focus,
    &:active,
    &:active:hover {
        // background-color: $col7;
        // border-color: $col3;
    }

    &:active {
        &:focus {
            // background-color: $col7;
            box-shadow: none;
        }
    }
}

.dark {
    // background-color: $col4;
    // border-color: $col4;
    background-image: none;
    border-radius: 7px;
    color: white;

    &:hover,
    &:focus,
    &:active,
    &:active:hover {
        // background-color: $col18;  
        // border-color: $col3;  
    }

    &:active {
        &:focus {
            // background-color: $col18;
            box-shadow: none;
        }
    }

}

// button component end 

body {
    font-family: 'Montserrat', sans-serif !important;
}

.fontStyle1 {
    font-family: 'Montserrat', sans-serif !important;
}

.fontStyle2 {
    font-family: Britania Ligatura !important;
}

.text-dark {
    color: $col1 !important;
}

.text-black {
    color: black !important;
}

.navheight {
    height: 55px;
    border-bottom: 2px solid $col1;
}

#templatemo_main_nav a {
    color: #212934;
    font-weight: 400 !important;
}

#templatemo_main_nav .navbar-nav {
    max-width: 100%;
}

.color_head_black {
    font-size: 33px;
    color: black;
    font-weight: 400;
}

.color_head_green {
    color: $col1;
    font-size: 33px;
    font-weight: 400;
}

.text-muted {
    font-size: 12px !important;
    font-weight: 500 !important;
    text-transform: uppercase;
    color: #4F4F4F !important;
}

.explore_button {
    width: 216px;
    height: 48px;
    background: $col1;
    border-radius: 10.252px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 19.2358px;
    line-height: 31px;
    text-transform: capitalize;
    color: #FFFFFF;
    border: none;
    margin-bottom: 36px;

    &.xlSize {
        min-height: 60px;
        border: solid 2px $col1;

        @media (min-width: 768px) {
            min-width: 300px;
            text-align: center;
        }
    }

    &.xSmalls {
        min-height: 30px;
        padding-left: 15px;
        padding-right: 15px;
        width: auto;
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
    }
}

.pointer {
    cursor: pointer;
}

.center {
    text-align: center;
}

.productCount {
    display: flex;

    form {
        border: solid 2px #B6DBCA;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 8px;
        box-sizing: border-box;
        overflow: hidden;

        .qtyminus,
        .qtyplus {
            font-weight: 500;
            font-size: 24px;
            color: black;
        }

        input {
            min-height: 58px;
            width: 110px;
            outline: 0;
            border: none;
            text-align: center;
            font-weight: 500;
            font-size: 24px;
            color: black;
        }
    }
}

.checkBoxes {
    .form-check-inline {
        box-shadow: none !important;
        margin-right: 10px;

        .form-check-input {
            width: 18px;
            height: 18px;
            border: 1px solid rgba(0, 0, 0, 50%);
            border-radius: 0px;
            position: relative;
            top: 3px;

            &:checked {
                background-color: #00953E;
                border-color: #00953E;
            }

            &:hover,
            &:focus {
                box-shadow: none !important;
            }
        }
    }
}

.w8 {
    width: 8px;
}

.pointer {
    cursor: pointer;
}

.bg-latest {
    background: url(./assets/img/Rectangle.png);
    color: azure;
    font-weight: 600;
    background-size: auto;
}

.tittle_sub {
    color: $col3;
}

.breadgeCumMenu {
    padding: 35px 0;

    ol.breadcrumb {
        margin-bottom: 0;

        li {
            a {
                text-decoration: none;
                font-weight: 500;
                color: #4F4F4F;
            }

            &.active {
                a {
                    font-weight: 600;
                    color: #333333;
                }
            }
        }
    }
}

.productCarousel {
    .main-inner {
        // position: relative;
        // z-index: 99; 
        // &:before {
        //     content: "";
        //     background-color: #2C2C2C;
        //     opacity: 0.8;
        //     width: 100%;
        //     height: 100%;
        //     position: absolute;
        //     top: 0;
        //     left: 0;  
        // }
    }

    .img-div.image-popup {
        margin-left: 0px !important;
        margin-right: 0px !important;

        .caption {
            font-family: Mislian;
            font-size: 30px;
            background-image: none !important;
        }
    }

    .custom-image-main {
        img {
            filter: grayscale(1);
            border-radius: 0px !important;
        }
    }

    .prev.icons.prev-icon {
        background-color: transparent !important;
        border-bottom: none !important;
        opacity: 1 !important;
        color: white !important;
    }

    .next.icons.next-icon {
        background-color: transparent !important;
        border-bottom: none !important;
        opacity: 1 !important;
        color: white !important;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cartLists {

    // .borderBottom {
    //     border-bottom: 1px solid #BDBDBD; 
    //     padding-bottom: 20px;
    //     margin-bottom: 20px;
    // }
    .productQuantity {
        .cartImgBox {
            max-height: 205px;
            overflow: hidden;

            &>img {
                width: 100%;
                height: auto;
                border-radius: 8px;
                overflow: hidden;
            }
        }

        .cartTextBox {
            .checkBoxes {
                .form-check-inline {
                    margin-right: 8px;
                    position: static;
                    top: 3.5px;
                }
            }
        }

        .productCount {
            form {
                input {
                    min-height: 40px;
                    width: 30px;
                    font-size: 16px;
                }
            }
        }
    }
}

.orderSummary {
    background-color:#F8FCFA; 
    padding: 10px; 
    border-radius: 8px; 
    .summaryBtn {
        .explore_button {
            font-size: 14px;
            font-weight: 500;
        }
    }
    .borderBottom2 {
        border-bottom: 1px solid #E0E0E0;; 
        padding-bottom: 25px;
        margin-bottom: 25px;
    }
}

// 13 nov start code scss 

.productSidebar {
    @media (min-width: 768px) {
        padding-right: 30px;
    }
}
.catUl {
    ul {
        margin: 0; 
        padding: 0; 
        li {
            display: flex;
            justify-content: space-between; 
            align-items: center;
            margin-bottom: 20px; 
        }
    }
}
.colors {
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        li {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color:#F2994A;
            list-style: none;
            margin-right: 15px;
            &.active {
                background-color: #00953E;
            }
            &.color1 {
                background-color: #EB5757;
            }
            &.color2 {
                background-color: #BB6BD9;
            }
        }
    }
}

form {
	&.search_form_2 {
		height: 50px;
        display: flex;
        position: relative;
		input[type=search] {
			height: 100%;
			font-size: 17px;
			border: 1px solid blue;
			float: left;
			width: 60%;
			outline: none;
			padding: 0 10px;
			border-left: none;
			position: relative;
		}
		.outer {
            display: none; 
			width: 1px;
			height: 100%;
			margin: auto;
			position: relative;
			overflow: hidden;
			float: left;
			border-top: 1px solid blue;
			border-bottom: 1px solid blue;
			.inner {
				position: absolute;
				width: 2px;
				height: 30px;
				background: blue;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		[type="submit"] {
			background-size: 30px;
			border: none;
			cursor: pointer;
			height: 16px;
			padding-left: 16px;
			vertical-align: middle;
			height: 100%;
			width: 10%;
			border-top-right-radius: 25px;
			border-bottom-right-radius: 25px;
            background: #00953E;
            border-radius: 0px 21px 21px 21px;
            margin-left: -23px;
            z-index: 9;
		}
		.icon_select_mate {
			position: absolute;
			top: 15px;
			right: 2%;
			font-size: 16px;
			transition: all 275ms;
            cursor:pointer;
		}
		.select_mate {
			border-top: 1px solid blue;
			border-bottom: 1px solid blue;
			border-left: 1px solid blue;
			border-top-left-radius: 25px;
			border-bottom-left-radius: 25px;
			position: relative;
			float: left;
			height: 100%;
			width: 25%;
			color: rgba(119, 119, 119, 1);
			font-weight: 300;
			background-color: #fff;
			transition: all 375ms ease-in-out;
			select {
				position: absolute;
				overflow: hidden;
				height: 0;
				opacity: 0;
				z-index: -1;
			}
		}
		.cont_list_select_mate {
			position: relative;
			float: left;
			width: 100%;
		}
		.cont_select_int {
			position: absolute;
			left: 0;
			top: 5px;
			z-index: 999;
			overflow: hidden;
			height: 0;
			width: 100%;
			background-color: #fff;
			padding: 0;
			margin-bottom: 0;
			margin-top: 0;
			border-radius: 0 0 3px 3px;
			box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
			transition: all 375ms ease-in-out;
			li {
				position: relative;
				float: left;
				width: 100%;
				background-color: #fff;
				list-style-type: none;
				padding: 10px 2%;
				margin: 0;
				transition: all 275ms ease-in-out;
				display: block;
				cursor: pointer;
				&:last-child {
					border-radius: 3px;
					border-bottom: 0;
				}
				&:hover {
					background-color: rgba(238, 238, 238, 1);
				}
			}
			.active {
				background-color: rgba(238, 238, 238, 1);
			}
		}
		.selection_option {
			height: 50px;
			padding: 0 10px;
			line-height: 50px;
			width: 100%;
			display: block;
			margin: 0;
			cursor: pointer;
		}
		button:hover {
			background: rgba(11, 125, 218, 1);
		}
	}
	&.search_form_2::after {
		content: "";
		clear: both;
		display: table;
	}
}
@media (max-width: 767.98px) { 
  .site-search {
    width: 100%;
  }
}
@media (max-width: 575.98px) { 
  form {
    &.search_form_1 {
      input[type=submit] {
        width: 80px;
      }
      .select_mate,
      .outer {
        display: none;
      }
    }
    &.search_form_2 {
      input[type=search] {
        border-left: 1px solid blue;
      }
      input[type=submit] {
        width: 60px;
      }
      .select_mate,
      .outer {
        display: none;
      }
    }
  }
}
.productSidebar {
    @media (min-width: 768px) {
        padding-right: 30px;
    }
}
.featuresProducts {
    &.inner {
        .card {   
            border: none;
            span.circleStyles { 
                border-radius: 50%;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 42px;
                height: 42px;
                background: white;
                box-shadow: 0px 1px 4px rgb(0 0 0 / 17%);
            }
            .imgSet {
                position: relative;
                display: block;
                max-height: 275px;
                border-radius: 10px;
                overflow: hidden;
            }
        }
    }
}

// 13 nov end code scss 