<div style="background-color: #0080001f; display: flex;flex-direction: column;justify-content: center;align-items: center;text-align: center; min-height: 100vh;" class="">
  <div class="mt-4 p-5 text-green rounded">
    <a class="navbar-brand text-success logo align-self-center" routerLink="/home">
     <div style="text-align: center;"><img src="../assets/img/logot.png" class="img-fluid" /></div> 
  </a>
    <h1 style="font-size: 102px; color: green; text-align: center;">Coming Soon..</h1>
    <h2 style="text-align: center; margin-top: 45px;" class="animated fadeInUp">This page is currently under construction</h2>
  </div>
</div>