<!-- Start Footer -->
<footer id="tempaltemo_footer">
    <div class="topFooter">
        <div class="container">
            <div class="row">
                <div class="col-md-6 pt-4">
                    <h2 class="h2  head_footer fontStyle1">Piharwa | Elements of Piharwa</h2>
                    <div class="row align-items-center">
                        <div class="col-md-3 footer_text">
                            <img width="100%" src="../../../assets/img/footerLogo.png" />
                        </div>
                        <div class="col-md-9 footer_text">  
                            <p class="footer_text mx-75 fs15 fontStyle1">
                                Spurred by the love and responses received by our 'House of handloom- Piharwa', A persuit of handcrafted home decor and fine living, is brought to you by the name Elements of Piharwa. It is an inspiration to all who love to make their living spaces an elegant affair. We promises to surprise you with our uniqueness and veriety.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 pt-4">
                    <h2 class="h2  head_footer fontStyle1" routerLink="/home">Shop</h2>
                    <ul class="list-unstyled  footer-link-list">
                        <li><a class="text-decoration-none" routerLink="/order-list">Orders</a></li>
                        <li><a class="text-decoration-none" routerLink="/home">Shop</a></li>
                        <li><a class="text-decoration-none" href="#"> My Account</a></li>
                    </ul>
                </div>
                <div class="col-md-2 pt-4">
                    <h2 class="h2  head_footer fontStyle1">Support</h2>
                    <ul class="list-unstyled  footer-link-list">
                        <li><a class="text-decoration-none" routerLink="/about-us">About Us</a></li>
                        <li><a class="text-decoration-none" routerLink="/contact-us"> Contact Us</a></li>
                        <li><a class="text-decoration-none" routerLink="/privacy-policy">Privacy Policy</a></li>
                        <li><a class="text-decoration-none" routerLink="/shipping-policy">Shipping Policy</a></li>
                        <li><a class="text-decoration-none" routerLink="/terms-and-conditions"> Terms & Conditions</a></li>
                    </ul>
                </div>
                <div class="col-md-2 pt-4">
                    <h2 class="h2 head_footer fontStyle1">Join us Socially</h2>
                    <ul class="list-unstyled  footer-link-list">
                        <li>
                            <a class="text-decoration-none" target="_blank" href="https://www.facebook.com/piharwa/">
                                <img src="../../../assets/img/Facebook.png" alt="Icon"
                                    class="img-fluid mr2" />Facebook</a>
                        </li>
                        <li>
                            <a class="text-decoration-none" target="_blank" href="https://www.instagram.com/piharwa/">
                                <img src="../../../assets/img/Instagram.png" alt="Icon"
                                    class="img-fluid mr2" />Instagram</a>
                        </li>
                        <li>
                            <a class="text-decoration-none" target="_blank" href="https://www.youtube.com/channel/UCskIxm6gowZ7rZLdiRYwGJQ">
                                <img src="../../../assets/img/YouTube.png" alt="Icon"
                                    class="img-fluid mr2" />Youtube</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
    <div class="w-100 footerBottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-left fs14">
                        Copyright © 2023 Piharwa | Your Next Destination for your Fashion needs
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-end fs14">
                        Philanthropy | Checkout Elements | Home Decor Feed
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

<!-- Start Script -->

<!-- End Script -->