
    <!-- Start Footer -->
    <footer class="" id="tempaltemo_footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 pt-4">
                    <h2 class="h2  head_footer">Piharwa | Elements of Piharwa</h2>
                    <div class="row">
                        <div class="col-md-3 footer_text" >
                           <img width="100%" src="../../../assets/img/logo.png" />
                        </div>
                        <div class="col-md-8">
                            <p class="footer_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in maecenas venenatis, cursus. Orci, aliquam dictum integer at pretium morbi porta consectetur. Iaculis tellus nulla velit commodo ac sed. Congue lacus, Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in maecenas venenatis, cursus. Orci, aliquam dictum integer, </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 pt-4">
                    <h2 class="h2  head_footer">Shop</h2>
                    <ul class="list-unstyled  footer-link-list">
                        <li><a class="text-decoration-none" href="#">Orders</a></li>
                        <li><a class="text-decoration-none" href="#">Shop</a></li>
                        <li><a class="text-decoration-none" href="#">Downloads</a></li>
                        <li><a class="text-decoration-none" href="#"> My Account</a></li>
                    </ul>
                </div>
                
                <div class="col-md-2 pt-4">
                    <h2 class="h2  head_footer ">Support</h2>
                    <ul class="list-unstyled  footer-link-list">
                        <li><a class="text-decoration-none" href="#">About Us</a></li>
                        <li><a class="text-decoration-none" href="#"> Contact Us</a></li>
                        <li><a class="text-decoration-none" href="#">Privacy Policy</a></li>
                        <li><a class="text-decoration-none" href="#">Shipping Policy</a></li>
                        <li><a class="text-decoration-none" href="#"> Terms & Conditions</a></li>
                    </ul>
                </div>
                <div class="col-md-2 pt-4">
                    <h2 class="h2   head_footer ">Join us Socially</h2>
                    <ul class="list-unstyled  footer-link-list">
                        <li><a class="text-decoration-none" href="#">Home</a></li>
                        <li><a class="text-decoration-none" href="#">About Us</a></li>
                        <li><a class="text-decoration-none" href="#">Shop Locations</a></li>
                        <li><a class="text-decoration-none" href="#">FAQs</a></li>
                        <li><a class="text-decoration-none" href="#">Contact</a></li>
                    </ul>
                </div>

            </div>

        </div>

        <div class="w-100 footer_last">
            <div class="container">
                <div class="row pt-4">
                    <div class="col-12">
                        <p class="text-left ">
                            Copyright © 2022 Piharwa 
                            | Your Next Destination for your Fashion needs <a rel="sponsored" href="https://templatemo.com" target="_blank"></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <!-- Start Script -->

    <!-- End Script -->
