<section class="counter_wapper">
  <div class="container">
    <div class="row justify-content-center text-center mx70 align-items-center">
      <div class="col text-center">
        <span class="d-block fs40 fw600 lineH40 fontStyle1">700+</span>
        <span class="d-block fs13 fw400 text-white fontStyle1 lineH15 mt-1">Products to choose
          from variety</span>
      </div>
      <div class="col text-center">
        <span class="d-block fs40 fw600 lineH40 fontStyle1">999+</span>
        <span class="d-block fs13 fw400 text-white fontStyle1 lineH15 mt-1">Happy & Satisfied 
          Customer</span>
      </div>
      <div class="col text-center">
        <span class="d-block fs40 fw600 lineH40 fontStyle1">14+</span>
        <span class="d-block fs13 fw400 text-white fontStyle1 lineH15 mt-1">Categories</span>
      </div>
      <div class="col text-center">
        <span class="d-block"> 
           <img src="../../../assets/img/Synchronize.png" alt="Icon" class="img-fluid" width="40" /> 
        </span>
        <span class="d-block fs13 fw400 text-white fontStyle1 lineH15 mt-1">Easy 30 
          Days Return </span>
      </div>
      <div class="col text-center">
        <span class="d-block">
        <img src="../../../assets/img/Airplane-Take-Off.png" alt="Icon" class="img-fluid" width="40" /> </span>
        <span class="d-block fs13 fw400 text-white fontStyle1 lineH15 mt-1">Free Delivery
          PAN India</span>
      </div>
    </div>
  </div>
</section>