<section class="counter_wapper">
    <div class="container">
     <div class="row justify-content-center text-center">
      <div class="col-12">
      </div>
      <div class="col-md-2">
       <span class="display-10"> 700 + <br/> Products
    </span>
      </div>
      <div class="col-md-2">
       <span  class="display-10">700 + <br/> Products</span>
      </div>
      <div class="col-md-2">
       <span class="display-10">700 + <br/> Products</span>
      </div>
      <div class="col-md-2">
        <span class="display-10">700 + <br/> Products</span>
       </div>
     </div>
    </div>
   </section>