<!-- Top Header -->
<div class="topHeader">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-4">
                <div class="logoCenter">
                    <a class="navbar-brand text-success logo align-self-center" routerLink="/home">
                        <!-- <img src="assets/img/logot.png" class="img-fluid" />
                        <span class="lineLogo"></span>
                        <img src="assets/img/elementslogo.png" class="img-fluid" /> -->
                        <img src="assets/img/piharwa_logo.png" class="img-fluid" alt="piharwa-logo" />
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-8">
                <div class="navbarRight align-items-center d-flex justify-content-end">
                    <!-- <a class="nav-icon" href="#" data-bs-toggle="modal"
                        data-bs-target="#templatemo_search"> -->
                    <!-- <a class="nav-icon position-relative text-decoration-none" href="#">
                        <span
                            class="position-absolute top-0 left-100 translate-middle badge rounded-pill badgetop">+99</span>
                        <i class="fa fa-fw fa-heart text-dark mr-2 fs28"></i>
                    </a> -->
                    <div class="nav-icon position-relative text-decoration-none" (click)="openCart()">
                        <span *ngIf="cartData"
                            class="position-absolute top-0 left-100 translate-middle badge rounded-pill badgetop">{{ cartData.length }}</span>
                        <i class="fa fa-fw fa-cart-arrow-down text-dark fs28 mr-1"></i>
                    </div>
                    <div *ngIf="!profileLData" class="nav-icon position-relative text-decoration-none"
                        (click)="openLoginWindow()">
                        <i class="fa fa-fw fa-user text-dark mr-3 fs28"></i>
                        <!-- <span class="ms-3 fs21 fw500 col3 fontStyle1">
                            {{ profileLData.firstName }}
                        </span> -->
                    </div>
                    <a *ngIf="profileLData" class="dropdown nav-icon position-relative text-decoration-none">
                        <a class="nav-link dropdown-toggle profile-toggle" href="#" id="profileDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-fw fa-user text-dark mr-3 fs28"></i>
                            <span class="ms-3 fs21 fw500 col3 fontStyle1">
                                {{ profileLData.firstName }}
                            </span>
                        </a>
                        <ul class="dropdown-menu profileMenuitems" aria-labelledby="profileDropdown">
                            <li>
                                <a class="dropdown-item" routerLink="/account-information"> <i class='fas fa-user-circle profileicons'></i> <span>My Profile</span></a>
                            </li>
                            <li>
                                <a class="dropdown-item" (click)="logout()">
                                    <i class='fas fa-sign-out-alt profileicons'></i> <span>Logout</span></a>
                            </li>
                        </ul>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top Header End -->

<!-- Bottom Header -->
<div class="bottomHeader">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light shadow">
            <div class="d-flex justify-content-end ms-auto">
                <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse d-lg-flex justify-content-center m-auto" id="templatemo_main_nav">
                <div class="flex-fill" *ngIf="allCategoryList">
                    <ul class="nav navbar-nav d-flex justify-content-between">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Collections
                                <span><img src="../../../assets/img/down.png" alt="Icon"
                                        class="img-fluid ms-2" /></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li *ngFor="let list of categoryDataList">
                                    <a class="dropdown-item" [href]="['productlist/'+ list._id]">
                                        {{list.name}}
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Apparel and sarees
                                <span><img src="../../../assets/img/down.png" alt="Icon"
                                        class="img-fluid ms-2" /></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li *ngFor="let piharwaCat of allCategoryList?.piharwaCategories">
                                    <a class="dropdown-item" 
                                    [routerLink]="['productlist', piharwaCat.rootCategory, piharwaCat._id]">
                                        {{piharwaCat.name}}
                                    </a>
                                </li>
                            </ul>
                        </li> -->




                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Apparel and sarees
                                <span><img src="../../../assets/img/down.png" alt="Icon"
                                        class="img-fluid ms-2" /></span>
                            </a>
                           
                            <ul class="dropdown-menu lifemenu " aria-labelledby="navbarDropdown">
                                    <li *ngFor="let elementCat1 of  piharwaCategories"> 
                                        <div class="row">
                                        <div class="col-md-4" *ngFor="let value1 of elementCat1">
                                        <a class="dropdown-item" 
                                        [routerLink]="['productlist', value1.rootCategory, value1._id]">
                                            {{value1.name}}
                                        </a>
                                        </div>
                                        </div>
                                    </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Lifestyle and Decor
                                <span><img src="../../../assets/img/down.png" alt="Icon"
                                        class="img-fluid ms-2" /></span>
                            </a>
                           
                            <ul class="dropdown-menu lifemenu " aria-labelledby="navbarDropdown">
                                    <li *ngFor="let elementCat of filterArr"> 
                                        <div class="row">
                                        <div class="col-md-4" *ngFor="let value of elementCat">
                                        <a class="dropdown-item" 
                                        [routerLink]="['productlist', value.rootCategory, value._id]">
                                            {{value.name}}
                                        </a>
                                        </div>
                                        </div>
                                    </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" routerLink="/blogs">
                                Blog
                                <!-- <span><img src="../../../assets/img/down.png" alt="Icon"
                                        class="img-fluid ms-2" /></span> -->
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Bottom Header End -->

<!-- Modal Start -->
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ..." />
                <button type="submit" class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
</div>
<!-- Modal Start -->