<!-- Top Header -->
<div class="topHeader">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8 col-4">
                <div class="logoCenter">
                    <a class="navbar-brand text-success logo align-self-center" routerLink="/home">
                        <img src="../assets/img/logot.png" class="img-fluid" />
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-8">
                <div class="navbarRight align-items-center d-flex justify-content-end">
                    <!-- <a class="nav-icon" href="#" data-bs-toggle="modal"
                        data-bs-target="#templatemo_search"> -->
                    <a class="nav-icon position-relative text-decoration-none" href="#">
                        <span
                            class="position-absolute top-0 left-100 translate-middle badge rounded-pill badgetop">+99</span>
                        <i class="fa fa-fw fa-heart text-dark mr-2 fs28"></i>
                    </a>
                    <a *ngIf="cartData" class="nav-icon position-relative text-decoration-none" routerLink="/product-cart">
                        <span
                            class="position-absolute top-0 left-100 translate-middle badge rounded-pill badgetop">{{cartData.length}}</span>
                        <i class="fa fa-fw fa-cart-arrow-down text-dark fs28 mr-1"></i>
                    </a>
                    <a class="nav-icon position-relative text-decoration-none"  (click)="openLoginWindow()">
                        <i class="fa fa-fw fa-user text-dark mr-3 fs28"></i>
                        <span class="ms-3 fs21 fw500 col3 fontStyle1" *ngIf="profileLData">{{profileLData.firstName}} {{profileLData.lastName}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top Header End -->

<!-- Bottom Header -->
<div class="bottomHeader">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light shadow">
            <div class="d-flex justify-content-end ms-auto">
                <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse d-lg-flex justify-content-center m-auto" 
                id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Collections <span><img src="../../../assets/img/down.png" alt="Icon"
                                        class="img-fluid ms-2" /></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li *ngFor="let list of categoryDataList"><a class="dropdown-item" (click)="categoryList(list._id)">{{list.categoryTitle}}</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Shop <span><img src="../../../assets/img/down.png" alt="Icon"
                                        class="img-fluid ms-2" /></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Collections</a></li>
                                <li><a class="dropdown-item" href="#">Shop</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Lifestyle <span><img src="../../../assets/img/down.png" alt="Icon"
                                        class="img-fluid ms-2" /></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Collections</a></li>
                                <li><a class="dropdown-item" href="#">Shop</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Home Decor <span><img src="../../../assets/img/down.png" alt="Icon"
                                        class="img-fluid ms-2" /></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Collections</a></li>
                                <li><a class="dropdown-item" href="#">Shop</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" routerLink="/blogs">
                                Blog 
                                <!-- <span><img src="../../../assets/img/down.png" alt="Icon"
                                        class="img-fluid ms-2" /></span> -->
                            </a>
                            <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Collections</a></li>
                                <li><a class="dropdown-item" href="#">Shop</a></li>
                            </ul> -->
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
    </div>
</div>
<!-- Bottom Header End -->

<!-- Modal Start -->
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                <button type="submit" class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
</div>
<!-- Modal Start -->