<div class="breadgeCumMenu">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Lehengas</a></li>
                <li *ngIf="productData && productData.productTitle" class="breadcrumb-item active" aria-current="page"><a href="#">{{productData.productTitle}}</a></li>
            </ol>
        </nav>
    </div>
</div>
<div class="productDetails" *ngIf="productData">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-5">
                <div class="productImg">
                    <div>
                        <img src={{productData.productImg}} class="img-fluid w-100" alt="Icon" />
                    </div>

                </div>
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row justify-content-center m-auto">
                                <div class="col-md-3" *ngFor="let image of productData.thumbnailImgs ">
                                    <img src={{image}} class="d-block w-100 img-fluid" alt="Slider 1" />
                                </div>

                            </div>
                        </div>
                        <!-- <div class="carousel-item">
                            <img src="..." class="d-block w-100" alt="...">
                        </div> -->
                    </div>
                    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button> -->
                </div>
            </div>
            <div class="col-md-7">
                <div class="productContain">
                    <h2 class="fs36 fw700 col3 mb-3">{{productData.productTitle}}</h2>
                    <div class="priceInfo">
                        <del class="fs17 fw300 mb-2" *ngIf="productData.allowDiscount">₹ {{productData.price}}</del>
                        <p class="fs24 fw600 col3">₹ 
                            {{productData.allowDiscount === true ? productData.discountPrice : productData.price}}


                        </p>
                    </div>
                    <!-- <div class="d-flex align-items-center mb-4">
                        <span>
                            <img src="../../../../assets/img/stars.png" class="img-fluid mr-1" alt="Star Icon" />
                        </span>
                        <span>
                            <img src="../../../../assets/img/stars.png" class="img-fluid mr-1" alt="Star Icon" />
                        </span>
                        <span>
                            <img src="../../../../assets/img/stars.png" class="img-fluid mr-1" alt="Star Icon" />
                        </span>
                        <span>
                            <img src="../../../../assets/img/stars.png" class="img-fluid mr-1" alt="Star Icon" />
                        </span>
                        <span>
                            <img src="../../../../assets/img/starHalf.png" class="img-fluid mr-1" alt="Star Icon" />
                        </span>
                        <span class="fs20 fw500 text-black">
                            ( {{productData.OverallRating}}Ratings )
                        </span>
                    </div> -->
                    <div class="productCount align-items-center mb-4">
                        <form action="#" class="d-flex align-items-center">
                            <div (click)="decrement()" class="qtyminus pointer">-</div>
                            <input min="0" type="text" name="quantity" value="{{quantity}}" class="qty">
                            <div (click)="increment()" class="qtyplus pointer">+</div>
                        </form>
                        <div class="ms-4">
                            <button (click)="addtoCart(productData)" class="explore_button xlSize mb-0">
                                Add To Cart
                            </button>
                        </div>
                    </div>
                    <!-- <div class="deleveryStatus mb-4">
                        <p class="fs17 fw400 col3 mb-2">Check Delivery</p>
                        <div class="input-group mb-2">
                            <input type="text" class="form-control" placeholder="Enter Pin Code"
                                aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <button class="input-group-text" id="basic-addon2">Check</button>
                        </div>
                        <p class="fs14 fw400 col1">Delivery by : <strong>30th Oct</strong></p>
                    </div> -->
                    <div class="accorDians">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        PRODUCT DESCRIPTION
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body" [innerHTML]="productData.productDescription">
                                        <!-- {{productData.productDescription}} -->
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        SHIPPING DETAILS
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <strong>This is the second item's accordion body.</strong> It is hidden by
                                        default, until the collapse plugin adds the appropriate classes that we use to
                                        style each element. These classes control the overall appearance, as well as the
                                        showing and hiding via CSS transitions. You can modify any of this with custom
                                        CSS or overriding our default variables. It's also worth noting that just about
                                        any HTML can go within the .accordion-body, though the transition
                                        does limit overflow.
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!-- <div class="totalbyIT mb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-8">
                            <h3 class="mb-4 fs20 fw700 col3">Buy it With</h3>
                            <div class="row">
                                <div class="col flex-0 minWidth">
                                    <div class="cards">
                                        <div class="checkBoxes">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                                    value="option1">
                                            </div>
                                        </div>
                                        <div>
                                            <h4 class="mb-1 fs16 fw500 col3">Fall & Pico</h4>
                                            <p class="mb-0 fs16 fw500 col4">₹100</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col flex-0 minWidth">
                                    <div class="cards">
                                        <div class="checkBoxes">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                                    value="option1">
                                            </div>
                                        </div>
                                        <div>
                                            <h4 class="mb-1 fs16 fw500 col3">Gift Packing</h4>
                                            <p class="mb-0 fs16 fw500 col4">₹25</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h3 class="mb-4 fs20 fw700 col3">Total Amount </h3>
                            <div class="col flex-0 minWidth2">
                                <div class="cards justify-content-between">
                                    <h4 class="mb-0 fs20 fw600 col3">₹ 15,300.00</h4>
                                    <div class="ms-4">
                                        <button class="explore_button xSmalls mb-0">
                                            Add To Cart
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="proListDetails">
        <div class="container">
            <h1 class="fontStyle2 text-center mb-5">
                <span class="color_head_black fs48 fw500">You’ll Love These !! </span>
            </h1>
            <section class="featuresProducts inner">
                <div class="row">
                    <div class="col-12 col-md-3 mb-4">
                        <div routerLink="/product-details" class="card h-100">
                            <a routerLink="/product-details" class="d-block position-relative">
                                <div class="imgSet" routerLink="/product-details">
                                    <img src="../../../assets/img/pro1.png" class="card-img-top" alt="Icon"
                                        class="img-fluid" />
                                </div>
                            </a>
                            <div class="card-body px-0">
                                <div class="row justify-content-between">
                                    <div class="col-md-9">
                                        <p class="fs13 fw500 col5 fontStyle1">Hanger Saree Wrap (Set of 3)
                                        </p>
                                    </div>
                                    <div class="heartIcon col-md-3 text-end">
                                        <span class="circleStyles"><img src="../../../assets/img/hearts.png"
                                                class="img-fluid" alt="Icon" /></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 mb-4">
                        <div class="card h-100">
                            <a routerLink="/product-details" class="d-block position-relative">
                                <div class="imgSet">
                                    <img src="../../../assets/img/pro2.png" class="card-img-top" alt="Icon"
                                        class="img-fluid" />
                                </div>
                            </a>
                            <div class="card-body px-0">
                                <div class="row justify-content-between">
                                    <div class="col-md-9">
                                        <p class="fs13 fw500 col5 fontStyle1">Hanger Saree Wrap (Set of 3)
                                        </p>
                                    </div>
                                    <div class="heartIcon col-md-3 text-end">
                                        <span class="circleStyles"><img src="../../../assets/img/hearts.png"
                                                class="img-fluid" alt="Icon" /></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 mb-4">
                        <div class="card h-100">
                            <a routerLink="/product-details" class="d-block position-relative">
                                <div class="imgSet">
                                    <img src="../../../assets/img/pro3.png" class="card-img-top" alt="Icon"
                                        class="img-fluid" />
                                </div>
                            </a>
                            <div class="card-body px-0">
                                <div class="row justify-content-between">
                                    <div class="col-md-9">
                                        <p class="fs13 fw500 col5 fontStyle1">Hanger Saree Wrap (Set of 3)
                                        </p>
                                    </div>
                                    <div class="heartIcon col-md-3 text-end">
                                        <span class="circleStyles"><img src="../../../assets/img/hearts.png"
                                                class="img-fluid" alt="Icon" /></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 mb-4">
                        <div class="card h-100">
                            <a routerLink="/product-details" class="d-block position-relative">
                                <div class="imgSet">
                                    <img src="../../../assets/img/pro4.png" class="card-img-top" alt="Icon"
                                        class="img-fluid" />
                                </div>
                            </a>
                            <div class="card-body px-0">
                                <div class="row justify-content-between">
                                    <div class="col-md-9">
                                        <p class="fs13 fw500 col5 fontStyle1">Hanger Saree Wrap (Set of 3)
                                        </p>
                                    </div>
                                    <div class="heartIcon col-md-3 text-end">
                                        <span class="circleStyles"><img src="../../../assets/img/hearts.png"
                                                class="img-fluid" alt="Icon" /></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section> 
        </div>
    </div>  -->
</div>