<div class="container">
    <div class="row pt-4 mb-4">
        <div class="col-md-3">
            <div class="flex-shrink-0 p-3 bg-white sidebars">
                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#home-collapse" aria-expanded="true">
                            <!-- <sapn class="me-2 color-green"><i class="fa fa-user" aria-hidden="true"></i></sapn>Account Information -->
                        </button>
                        <div class="collapse show" id="home-collapse" style="">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li>Account Information</li>
                            </ul>
                        </div>
                    </li>
                    <li class="border-top my-3"></li>
                    <li routerLink="/home">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#orders-collapse" aria-expanded="false">
                            <span class="me-2 color-green"><i class="fa fa-sign-out" aria-hidden="true"></i></span>Home
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-info">
                <div class="container">
                    <h1 class="mb-4 pt-4 mb-md-5 profile-title">Profile Information</h1>
                    <div class="row mb-4">
                        <div class="col-md-2"><strong>Name : </strong></div>
                        <div class="col-md-10">Amit</div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-2"><strong>Mobile No : </strong></div>
                        <div class="col-md-10">+91 <span>9893273970</span></div>
                    </div>
                    <div class="row mb-4 pb-5">
                        <div class="col-md-2"><strong>Email : </strong></div>
                        <div class="col-md-10">vamit7631@gmail.com</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>