<div class="breadgeCumMenu">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#">About-us</a></li>
            </ol>
        </nav>
    </div>
</div>
<div class="about-us">
    <div class="container">
        <h1>ABOUT US</h1>
        <p style="margin-top: 20px;"><strong style="color: #4d4c4c">OUR VISION - </strong> Our Vision is to combine
            style with comfort and trends with tradition in your everyday styling. We take pride in bringing best of the
            handlooms of India in the form of sarees, lehangas and poshak as well as beautiful and trendy Indo-western
            collection. Piharwa strives to enhance your style statement with all natural fibre fabric and celebrate
            womanhood by seeking perfection in imperfection of handloom</p>
        <p>
            <strong style="color: #4d4c4c">OUR MISION - </strong> Inspired by the rich and varied heritage of India, our
            mission is to bring to you the real art of India by the real artisans. We strive to encourage the beauty and
            uniqueness of the skillful hands which is lost with the uniformity and perfection of machines. We take pride
            to be associated with the real artisans and to promote them thereby doing our bit in preserving the form of
            art of rich and royal heritage of India
        </p>
        <br /><br />
        <div class="aboutusimg">
            <div class="row">
                <div class="col-md-6">
                    <img src="https://piharwa-bucket.s3.us-east-2.amazonaws.com/aboutus/aboutus16.jpeg" width="100%" />
                </div>
                <div class="col-md-6">
                    <img src="https://piharwa-bucket.s3.us-east-2.amazonaws.com/aboutus/aboutus17.jpeg" width="100%" />
                </div>
                <div class="col-md-6">
                    <img src="https://piharwa-bucket.s3.us-east-2.amazonaws.com/aboutus/aboutus18.jpeg" width="100%" />
                </div>
                <div class="col-md-6">
                    <img src="https://piharwa-bucket.s3.us-east-2.amazonaws.com/aboutus/aboutus19.jpeg" width="100%" />
                </div>
                <div class="col-md-6">
                    <img src="https://piharwa-bucket.s3.us-east-2.amazonaws.com/aboutus/aboutus20.jpeg" width="100%" />
                </div>
                <div class="col-md-6">
                    <img src="https://piharwa-bucket.s3.us-east-2.amazonaws.com/aboutus/aboutus21.jpeg" width="100%" />
                </div>
                <div class="col-md-6">
                    <img src="https://piharwa-bucket.s3.us-east-2.amazonaws.com/aboutus/aboutus22.jpeg" width="100%" />
                </div>
                <div class="col-md-6">
                    <img src="https://piharwa-bucket.s3.us-east-2.amazonaws.com/aboutus/aboutus23.jpeg" width="100%" />
                </div>
                <div class="col-md-6">
                    <img src="https://piharwa-bucket.s3.us-east-2.amazonaws.com/aboutus/aboutus24.jpeg" width="100%" />
                </div>
                <div class="col-md-6">
                    <img src="https://piharwa-bucket.s3.us-east-2.amazonaws.com/aboutus/aboutus26.jpeg" width="100%" />
                </div>
            </div>
        </div>
    </div>
</div>