<section class="bg-latest border-top">
    <!-- <div class="rightIcon">
        <img src="../../../assets/img/leftemos.png" alt="Icon" class="img-fluid pos1" />
        <img src="../../../assets/img/rightemos.png" alt="Icon" class="img-fluid pos2" />
    </div> -->
    <div class="container py-3">  
        <div class="row text-center py-3 mb-4">
            <div class="col-lg-12 m-auto">
                <h1 class="fontStyle2 mb-4">
                    <span class="color_head_black fs48 fw500">Customer's</span>
                    <span class="color_head_green fs48 fw500"> Opinion </span>
                </h1>
                <p class="fs18 lineH22 col3 fw300 mb-4 mx80">
                    Piharwa is started with the mission to provide customer satisfaction in different field. As a
                    organization we are always driven by our motto to Provide Quality to the customers.
                    Find out what people are saying about us on various platforms.
                </p>
            </div>
        </div>
        <div class="tabSection mt-0 mt-md-5" *ngIf="showTestimonialData">
            <div class="row align-items-start">
                <div class="col-md-5">
                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                        aria-orientation="vertical">
                        <button *ngFor="let dd of testimonialData" (click)="selectedTestimonial = dd"
                            class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                            data-bs-target=".testimonial-description" type="button" role="tab" aria-controls="v-pills-home"
                            aria-selected="true">
                            <div class="customerList">
                                <div class="row align-items-center">
                                    <div class="col-md-9">
                                        <div class="d-flex align-items-center">
                                            <div class="clientsImg">
                                                <img src="{{dd.userProfileImg}}" class="img-fluid" alt="Icon"
                                                    class="img-fluid" />
                                            </div>
                                            <div class="ms-3 text-start">
                                            <h4 class="text-black fontStyle1 fs23 fw500">{{dd.fullname}}</h4>
                                                <p class="text-blackLight fontStyle1 fs14 fw300 mb-0">
                                                    {{dd.position}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="text-black fontStyle1 fs23 fw500">{{dd.rating}} ⭐</div>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active testimonial-description" role="tabpanel">
                            <div class="customerOpinion mb-5">
                            <h3 class="fs24 fw500 text-black fontStyle1 mb-3">{{selectedTestimonial.fullname}}</h3>
                                <p class="fs15 fw300 col4 fontStyle1" [innerHtml]="selectedTestimonial.description">
                                </p>
                            </div>
                            <div class="average text-center average-customer">
                                <div class="text-black fs48 fw500 fontStyle2">Average Customer </div>
                                <div class="col1 fs48 fw500 fontStyle2"> Rating </div>
                                <p class="d-flex flex-wrap justify-content-center align-items-center" style="margin-top: 60px;"> <span
                                        class="text-black fs40"> 4.1</span>
                                    <span class="ms-3">
                                        <span class="fa fa-star checked fs40"></span>
                                        <span class="fa fa-star checked fs40 ms-1"></span>
                                        <span class="fa fa-star checked fs40 ms-1"></span>
                                        <span class="fa fa-star checked fs40 ms-1"></span>
                                        <span class="fa fa-star"></span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>