<section class="bg-latest border-top">
    <div class="rightIcon">
        <img src="../../../assets/img/leftemos.png" alt="Icon" class="img-fluid pos1" />
        <img src="../../../assets/img/rightemos.png" alt="Icon" class="img-fluid pos2" />
    </div>
    <div class="container py-3">  
        <div class="row text-center py-3 mb-4">
            <div class="col-lg-12 m-auto">
                <h1 class="fontStyle2 mb-4">
                    <span class="color_head_black fs48 fw500">Customer's</span>
                    <span class="color_head_green fs48 fw500"> Opinion </span>
                </h1>
                <p class="fs18 lineH22 col3 fw300 mb-4 mx80">
                    Piharwa is started with the mission to provide customer satisfaction in different field. As a
                    organization we are always driven by our motto to Provide Quality to the customers.
                    Find out what people are saying about us on various platforms.
                </p>
            </div>
        </div>
        <div class="tabSection mt-0 mt-md-5">
            <div class="row align-items-start">
                <div class="col-md-5">
                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                        aria-orientation="vertical">
                        <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                            aria-selected="true">
                            <div class="customerList">
                                <div class="row align-items-center">
                                    <div class="col-md-9">
                                        <div class="d-flex align-items-center">
                                            <div class="clientsImg">
                                                <img src="../../../assets/img/clients.png" class="img-fluid" alt="Icon"
                                                    class="img-fluid" />
                                            </div>
                                            <div class="ms-3 text-start">
                                                <h4 class="text-black fontStyle1 fs23 fw500">Darlene Robertson</h4>
                                                <p class="text-blackLight fontStyle1 fs14 fw300 mb-0">Fashion
                                                    Enthusiasst.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="text-black fontStyle1 fs23 fw500">4.5 ⭐</div>
                                    </div>
                                </div>
                            </div>
                        </button>
                        <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                            aria-selected="false">
                            <div class="customerList">
                                <div class="row align-items-center">
                                    <div class="col-md-9">
                                        <div class="d-flex align-items-center">
                                            <div class="clientsImg">
                                                <img src="../../../assets/img/clients2.png" class="img-fluid" alt="Icon"
                                                    class="img-fluid" />
                                            </div>
                                            <div class="ms-3 text-start">
                                                <h4 class="text-black fontStyle1 fs23 fw500">Marvin McKinney</h4>
                                                <p class="text-blackLight fontStyle1 fs14 fw300 mb-0">Fashion
                                                    Enthusiasst</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="text-black fontStyle1 fs23 fw500">4.5 ⭐</div>
                                    </div>
                                </div>
                            </div>
                        </button>
                        <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
                            aria-selected="false">
                            <div class="customerList">
                                <div class="row align-items-center">
                                    <div class="col-md-9">
                                        <div class="d-flex align-items-center">
                                            <div class="clientsImg">
                                                <img src="../../../assets/img/clients3.png" class="img-fluid" alt="Icon"
                                                    class="img-fluid" />
                                            </div>
                                            <div class="ms-3 text-start">
                                                <h4 class="text-black fontStyle1 fs23 fw500">Ralph Edwards</h4>
                                                <p class="text-blackLight fontStyle1 fs14 fw300 mb-0">Fashion
                                                    Enthusiasst</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="text-black fontStyle1 fs23 fw500">4.5 ⭐</div>
                                    </div>
                                </div>
                            </div>
                        </button>
                        <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                            aria-selected="false">
                            <div class="customerList">
                                <div class="row align-items-center">
                                    <div class="col-md-9">
                                        <div class="d-flex align-items-center">
                                            <div class="clientsImg">
                                                <img src="../../../assets/img/clients.png" class="img-fluid" alt="Icon"
                                                    class="img-fluid" />
                                            </div>
                                            <div class="ms-3 text-start">
                                                <h4 class="text-black fontStyle1 fs23 fw500">Darrell Steward</h4>
                                                <p class="text-blackLight fontStyle1 fs14 fw300 mb-0">Fashion
                                                    Enthusiasst.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="text-black fontStyle1 fs23 fw500">4.5 ⭐</div>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                            aria-labelledby="v-pills-home-tab">
                            <div class="customerOpinion mb-5">
                                <h3 class="fs24 fw500 text-black fontStyle1 mb-3">Darlene Robertson</h3>
                                <p class="fs20 fw300 col4 fontStyle1">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. In
                                    in
                                    maecenas venenatis, cursus. Orci, aliquam dictum integer at pretium morbi porta
                                    consectetur.
                                    Iaculis tellus nulla velit commodo ac sed. Congue lacus, Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. In in maecenas venenatis, cursus. Orci, aliquam dictum
                                    integer
                                    at pretium morbi porta consectetur. Iaculis tellus nulla velit commodo ac sed.
                                    Congue lacus,
                                </p>
                            </div>
                            <div class="average text-center">
                                <span class="text-black fs48 fw500 fontStyle2">Average Customer </span>
                                <span class="col1 fs48 fw500 fontStyle2"> Rating </span>
                                <p class="d-flex flex-wrap justify-content-center align-items-center"> <span
                                        class="text-black fs100"> 4.1</span>
                                    <span class="ms-3">
                                        <span class="fa fa-star checked fs40"></span>
                                        <span class="fa fa-star checked fs40 ms-1"></span>
                                        <span class="fa fa-star checked fs40 ms-1"></span>
                                        <span class="fa fa-star checked fs40 ms-1"></span>
                                        <span class="fa fa-star"></span>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                            aria-labelledby="v-pills-profile-tab">
                            <div class="customerOpinion mb-5">
                                <h3 class="fs24 fw500 text-black fontStyle1 mb-3">Marvin McKinney</h3>
                                <p class="fs20 fw300 col4 fontStyle1">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. In
                                    in
                                    maecenas venenatis, cursus. Orci, aliquam dictum integer at pretium morbi porta
                                    consectetur.
                                    Iaculis tellus nulla velit commodo ac sed. Congue lacus, Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. In in maecenas venenatis, cursus. Orci, aliquam dictum
                                    integer
                                    at pretium morbi porta consectetur. Iaculis tellus nulla velit commodo ac sed.
                                    Congue lacus,
                                </p>
                            </div>
                            <div class="average text-center">
                                <span class="text-black fs48 fw500 fontStyle2">Average Customer </span>
                                <span class="col1 fs48 fw500 fontStyle2"> Rating </span>
                                <p class="d-flex flex-wrap justify-content-center align-items-center"> <span
                                        class="text-black fs100"> 4.1</span>
                                    <span class="ms-3">
                                        <span class="fa fa-star checked fs40"></span>
                                        <span class="fa fa-star checked fs40 ms-1"></span>
                                        <span class="fa fa-star checked fs40 ms-1"></span>
                                        <span class="fa fa-star checked fs40 ms-1"></span>
                                        <span class="fa fa-star"></span>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                            aria-labelledby="v-pills-messages-tab">
                            <div class="customerOpinion mb-5">
                                <h3 class="fs24 fw500 text-black fontStyle1 mb-3">Ralph Edwards</h3>
                                <p class="fs20 fw300 col4 fontStyle1">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. In
                                    in
                                    maecenas venenatis, cursus. Orci, aliquam dictum integer at pretium morbi porta
                                    consectetur.
                                    Iaculis tellus nulla velit commodo ac sed. Congue lacus, Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. In in maecenas venenatis, cursus. Orci, aliquam dictum
                                    integer
                                    at pretium morbi porta consectetur. Iaculis tellus nulla velit commodo ac sed.
                                    Congue lacus,
                                </p>
                            </div>
                            <div class="average text-center">
                                <span class="text-black fs48 fw500 fontStyle2">Average Customer </span>
                                <span class="col1 fs48 fw500 fontStyle2"> Rating </span>
                                <p class="d-flex flex-wrap justify-content-center align-items-center"> <span
                                        class="text-black fs100"> 4.1</span>
                                    <span class="ms-3">
                                        <span class="fa fa-star checked fs40"></span>
                                        <span class="fa fa-star checked fs40 ms-1"></span>
                                        <span class="fa fa-star checked fs40 ms-1"></span>
                                        <span class="fa fa-star checked fs40 ms-1"></span>
                                        <span class="fa fa-star"></span>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                            aria-labelledby="v-pills-settings-tab">
                            <div class="customerOpinion mb-5">
                                <h3 class="fs24 fw500 text-black fontStyle1 mb-3">Darrell Steward</h3>
                                <p class="fs20 fw300 col4 fontStyle1">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. In
                                    in
                                    maecenas venenatis, cursus. Orci, aliquam dictum integer at pretium morbi porta
                                    consectetur.
                                    Iaculis tellus nulla velit commodo ac sed. Congue lacus, Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. In in maecenas venenatis, cursus. Orci, aliquam dictum
                                    integer
                                    at pretium morbi porta consectetur. Iaculis tellus nulla velit commodo ac sed.
                                    Congue lacus,
                                </p>
                            </div>
                            <div class="average text-center">
                                <span class="text-black fs48 fw500 fontStyle2">Average Customer </span>
                                <span class="col1 fs48 fw500 fontStyle2"> Rating </span>
                                <p class="d-flex flex-wrap justify-content-center align-items-center"> <span
                                        class="text-black fs100"> 4.1</span>
                                    <span class="ms-3">
                                        <span class="fa fa-star checked fs40"></span>
                                        <span class="fa fa-star checked fs40 ms-1"></span>
                                        <span class="fa fa-star checked fs40 ms-1"></span>
                                        <span class="fa fa-star checked fs40 ms-1"></span>
                                        <span class="fa fa-star"></span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- comment code  -->
        <div class="row d-none">
            <div class="col-12 col-md-6 mb-4">
                <div class="container">
                    <div class="jumbotron_cutomerview">
                        <h6>Darlene Robertson</h6>
                        <p>Fashion Enthusiasst.</p>
                    </div>
                    <div class="jumbotron_cutomerview">
                        <h6>Darlene Robertson</h6>
                        <p>Fashion Enthusiasst.</p>
                    </div>
                    <div class="jumbotron_cutomerview">
                        <h6>Darlene Robertson</h6>
                        <p>Fashion Enthusiasst.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-4">
                <div class="container">
                    <div class="jumbotron-box">
                        <h6>Darlene Robertson</h6>
                        <p style="color: #828282;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in
                            maecenas venenatis, cursus. Orci, aliquam dictum integer at pretium morbi porta consectetur.
                            Iaculis tellus nulla velit commodo ac sed. Congue lacus, Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. In in maecenas venenatis, cursus. Orci, aliquam dictum integer
                            at pretium morbi porta consectetur. Iaculis tellus nulla velit commodo ac sed. Congue lacus,
                        </p>
                    </div>
                </div>
                <div class="">
                    <div class="average">
                        <span class="color_head_black">Average Customer </span>
                        <span class="color_head_green"> Rating </span>
                        <p> <span class="color_head_black"> 4.1</span> <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>