<section class="bg-latest">
    <div class="container py-3">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">
                    <span class="color_head_black" >Customer's  </span>
                     <span class="color_head_green">  Opinion </span> 
                </h1>
                <p class="tittle_sub">
                    Piharwa is started with the mission to provide customer satisfaction in different field. As a organization we are always driven by our motto to Provide Quality to the customers. 
                    Find out what people are saying about us on various platforms.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 mb-4">
                <div class="container">
                    <div class="jumbotron_cutomerview">
                      <h6>Darlene Robertson</h6>      
                      <p>Fashion Enthusiasst.</p>
                    </div>  
                    <div class="jumbotron_cutomerview">
                        <h6>Darlene Robertson</h6>      
                        <p>Fashion Enthusiasst.</p>
                      </div>  
                      <div class="jumbotron_cutomerview">
                        <h6>Darlene Robertson</h6>      
                        <p>Fashion Enthusiasst.</p>
                      </div>  
                  </div>
            </div>
            <div class="col-12 col-md-6 mb-4">
                <div class="container">
                    <div class="jumbotron-box">
                        <h6>Darlene Robertson</h6>     
                      <p style="color: #828282;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in maecenas venenatis, cursus. Orci, aliquam dictum integer at pretium morbi porta consectetur. Iaculis tellus nulla velit commodo ac sed. Congue lacus, Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in maecenas venenatis, cursus. Orci, aliquam dictum integer at pretium morbi porta consectetur. Iaculis tellus nulla velit commodo ac sed. Congue lacus, </p>
                    </div>  
                  </div>
                <div class="">
                    <div class="average">
                        <span class="color_head_black" >Average Customer   </span>
                         <span class="color_head_green">  Rating </span> 
                         <p > <span  class="color_head_black" > 4.1</span>  <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>.</p>
                         </div>
                 
                </div>
            </div>
        </div>
    </div>

</section>